  .div {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }
  .div-2 {
    display: flex;
    width: 599px;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin: 178px 0 156px;
  }
  @media (max-width: 991px) {
    .div-2 {
      margin: 40px 0;
    }
  }
  .div-3 {
    color: #000;
    white-space: nowrap;
    font: 400 40px/48px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-3 {
      white-space: initial;
    }
  }
  .div-4 {
    align-self: stretch;
    color: #52525c;
    margin-top: 51px;
    font: 400 30px/45px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-4 {
      max-width: 100%;
      margin-top: 40px;
    }
  }
  .div-5 {
    align-self: stretch;
    border-radius: 8px;
    border: 2px solid #d9d9d9;
    background-color: #fff;
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    padding: 12px 250px;
  }
  @media (max-width: 991px) {
    .div-5 {
      max-width: 100%;
    }
  }
  .div-6 {
    color: #000;
    opacity: 0.5;
    font: 400 15px/24px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-6 {
      max-width: 100%;
    }
  }
  .div-7 {
    justify-content: center;
    color: #363636;
    text-align: center;
    background-color: #1a8fdd;
    margin-top: 381px;
    width: 300px;
    max-width: 100%;
    align-items: center;
    padding: 29px 20px;
    font: 400 30px/36px Inter, sans-serif;
  }
  @media (max-width: 991px) {
    .div-7 {
      margin-top: 40px;
    }
  }