<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/datastorage3.css">
  <link rel="stylesheet" href="../static/styles/header.css">
</head>
<body>
<div class="div">
  <header th:insert="header :: header"></header>
  <div class="div-14">Хранилище данных  Сверка</div>
  <div class="div-15">ID Поставщика</div>
  <div class="div-16"><span  th:text="${el.nameProduct}" class="div-17"/></div>
  <div class="div-18">ID Ответственного сотрудника</div>
  <div class="div-19"><span  th:text="${el.nameProduct}" class="div-20"/></div>
  <div class="div-21">ID продуктов</div>
  <div class="div-22"><span  th:text="${el.nameProduct}" class="div-23"/></div>
  <div class="div-24">ID Deal List</div>
  <div class="div-25"><span  th:text="${el.nameProduct}" class="div-26"/></div>
</div>
</body>
</html>
