<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/datastorage.css">
    <link rel="stylesheet" href="static/styles/header.css">
</head>

<body>
<div class="div">
    <header th:insert="header :: header"></header>
    <div class="div-14">Хранилище данных</div>
    <div class="div-15">ID Накладной</div>
    <input class="div-16" type="text" name="id" th:value="${id}" placeholder="Поиск по id" size="20">
    <button class="div-18" onclick="alert('Кнопка была нажата!')">Добавить</button>
    <button class="div-19" onclick="alert('Кнопка была нажата!')">Проверить</button>
</div>
</body>

</html>