<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/Desktop1.css">
  <link rel="stylesheet" href="styles/header.css">
</head>
<body>
<div class="div">
  <div th:insert="header :: header"></div>
  <div class="div-11">Домашняя страница</div>
</div>
</body>
</html>
