<html xmlns:th="http://www.thymeleaf.org">
<head> <link rel="stylesheet" href="styles/header.css"></head>
<body>
<div th:fragment="header">
  <div class="hdiv">
    <div class="hdiv-2"><a class="hdiv-3" href="/orderpage">Страница сотрудника</a></div>
    <div class="hdiv-4"><a class="hdiv-5" href="/orderpage">Хранилище данных</a></div>
    <div class="hdiv-6"><a class="hdiv-7" href="/orderpage">Мониторинг</a></div>
    <a class="hdiv-8" href="/orderpage">Страница<br />заказов</a>
    <div class="hdiv-9">
      <a class="hdiv-10" href="/orderpage">Страница<br />склада</a>
    </div>
    <a class="hdiv-11" href="/orderpage"> Страница<br />объекта</a>
    <a class="hdiv-12" href="/orderpage"> Тестовая<br />страница</a>
    <div class="hdiv-13"><a class="hdiv-14" href="/orderpage">Домашняя страница</a></div>
    <a href="/lce">
      <img class="img" loading="lazy" src="static/person.png" alt="sssssss">
    </a>
  </div>
</div>
</body>
</html>

