
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styles/monitoring2.css">
  <link rel="stylesheet" href="static/styles/header.css">
</head>
<body>
<div class="div">
  <header th:insert="header :: header"></header>
  <div class="div-14">Мониторинг</div>
  <div class="div-15">Название товара(ов)</div>
  <div class="div-16"><span  th:text="${el.nameProduct}" class="div-17"/></div>
  <div class="div-18">Адрес</div>
  <div class="div-19"><span  th:text="${el.nameProduct}" class="div-17"/></div>
  <div class="div-21">Материально-ответственное лицо</div>
  <div class="div-22"><span  th:text="${el.nameProduct}" class="div-17"/></div>
</div>
</body>
</html>

