
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/monitoring1.css">
  <link rel="stylesheet" href="../static/styles/header.css">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<div class="div">
  <header th:insert="header :: header"></header>
  <div class="div-12">Мониторинг</div>
  <form th:action="@{/search}" method="post">
    <label for="param1">Материал:</label>
    <input class="div-14" type="text" id="param1" name="param1" th:value="${param1}" />

    <label for="param2">Склад</label>
    <input class="div-19" type="text" id="param2" name="param2" th:value="${param2}" />

    <button class="div-24" type="submit">Search</button>
  </form>
  <th:block th:if="${param1 != null and param2 != null}">
    <table>
      <thead>
      <tr>
        <th>Column 1</th>
        <th>Column 2</th>
        <!-- Add more columns as needed -->
      </tr>
      </thead>
      <tbody>
      <!-- Iterate over the search results and populate the table -->
      <tr th:each="result : ${searchResults}">
        <td th:text="${result.column1}"></td>
        <td th:text="${result.column2}"></td>
        <!-- Add more cells as needed -->
      </tr>
      </tbody>
    </table>
  </th:block>

  <!-- Handle cases where only one parameter is present or the search results are empty -->
  <th:block th:if="${(param1 != null and param2 == null) or (param1 == null and param2 != null) or searchResults.isEmpty()}">
    <p>No results found.</p>
  </th:block>

</div>
</body>
</html>

