
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/styles/monitoring1.css">
  <link rel="stylesheet" href="static/styles/header.css">
</head>
<body>
<div class="div">
  <header th:insert="header :: header"></header>
  <div class="div-12">Мониторинг</div>
  <div class="div-13">Ввод ID склада/объекта</div>
  <div class="div-14">
    <div class="div-15">
      <div class="div-16"><input type="text" name="id" th:value="${id}"  placeholder="Поиск по id" size="20" ></div>
    </div>
  </div>
  <div class="div-18">Ввод ID накладной</div>
  <div class="div-19">
    <div class="div-20">
      <div class="div-21">
        <div class="div-22"><input type="text" name="id" th:value="${id}"  placeholder="Поиск по id" size="20" ></div>
      </div>
    </div>
  </div>
  <button class="div-24" onclick="alert('Кнопка была нажата!')">Submit</button>
</div>
</body>
</html>

