
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/orderpage.css">
  <link rel="stylesheet" href="../static/styles/header.css">
</head>
<body>

<div class="div">
  <header th:insert="header :: header"></header>
  <div class="div-13">Страница заказа товаров</div>
  <div class="div-14">Товар</div>
  <div class="div-15"><input type="text" name="id" th:value="${id}"  placeholder="Поиск по deallistID" size="20" ></div>
  <div class="div-17">Количество</div>
  <div class="div-18"><input type="text" name="id" th:value="${id}"  placeholder="Поиск по deallistID" size="20" ></div>
  <div class="div-20">Продавец</div>
  <div class="div-21"><input type="text" name="id" th:value="${id}"  placeholder="Поиск по deallistID" size="20" ></div>
   <button class="div-23" onclick="alert('Кнопка была нажата!')">Добавить</button>
</div>
</body>
</html>

