<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static/styles/warehousepage3.css">
	<link rel="stylesheet" href="static/styles/header.css">
</head>
<body>

<div class="div">
	<header th:insert="header :: header"></header>
  <div class="div-13">Страница склада  Общее</div>
<table width="100%" border="1" cellpadding="1" cellspacing="1" bordercolor="#333333" style="background-color:#ffffff">
	<tr>
	<td>ID Склада</td>
	<td>Кол-во свободных яч.</td>
	<td>Адрес</td>
	</tr>
	<tr>
	<td>Текст</td>
	<td>Текст</td>
	<td>Текст</td>
	</tr>
	<tr>
	<td>Текст</td>
	<td>Текст</td>
	<td>Текст</td>
	</tr>
	<tr>
	<td>Текст</td>
	<td>Текст</td>
	<td>Текст</td>
	</tr>
	<tr>
	<td>Текст</td>
	<td>Текст</td>
	<td>Текст</td>
	</tr>
	</table>
</div>
</body>
</html>

