<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/styles/warehousepage2.css">
	<link rel="stylesheet" href="../static/styles/header.css">
</head>
<body>

<div class="div">
	<header th:insert="header :: header"></header>
  <div class="div-14">Страница склада  Сотрудники </div>
  <table width="100%" border="1" cellpadding="1" cellspacing="1" bordercolor="#333333" style="background-color:#ffffff">
	<tr>
	<td>ID Сотрудника</td>
	<td>Ф.И.О.</td>
	<td>Должность</td>
	</tr>
	<tr>
	<td>Текст</td>
	<td>Текст</td>
	<td>Текст</td>
	</tr>
	<tr>
	<td>Текст</td>
	<td>Текст</td>
	<td>Текст</td>
	</tr>
	<tr>
	<td>Текст</td>
	<td>Текст</td>
	<td>Текст</td>
	</tr>
	<tr>
	<td>Текст</td>
	<td>Текст</td>
	<td>Текст</td>
	</tr>
	</table>
</div>
</body>
</html>

